<?xml version="1.0"?>
<model>
  <name>Simple Rover</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Theo Vilain</name>
    <email>theovilainfr@gmail.com</email>
  </author>
  <description>
    A simple rover model for Gazebo simulation
  </description>
</model>